<% provide(:title, "Problema!") %>

<div class="w3-row-padding w3-padding-16 w3-center">
    <img src="" alt="" style="width:36%;height:25%">
    <br>
    
    <% if flash.any? %>
      <% flash.each do |message_type, message| %>
        <div class="alert" style="font-size:16px"><%= message %></div>
      <% end %>
      <% flash.discard(:fail) %> 
      <% flash.discard(:success) %>
    <% end %>
    
    <% if @user.nil? == false  %>  
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <% @user.errors.full_messages.each do |msg| %>
            <%= msg %>
            <br>
          <% end %>
        </div>
      <% end %>
    <% end %>
    
    <br><br>
    <a href='/'><button onclick="goBack()">Voltar ao Site</button></a>
    <br>
</div>