<% provide(:title, "Problema!") %>

<div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <img src="" alt="Inserir foto aqui" style="width:36%;height:25%">
    <% if flash.any? %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <% flash.discard(:fail) %>
    <% end %>
    
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <% @user.errors.full_messages.each do |msg| %>
          <%= msg %>
          <br>
        <% end %>
      </div>
    <% end %>
    
    <a href="/">Voltar à página inicial</a>
</div>