<% provide(:title, "Han?") %>

<div class="w3-row-padding w3-padding-16 w3-center">
    <img src="/meme_confused.jpg" alt="Erro ao carregar foto" style="width:36%;height:25%">
    <% if flash.any? %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %> style="font-size:16px""><%= message %></div>
      <% end %>
      <% flash.discard(:fail) %>
      <% flash.discard(:success) %>
    <% end %>
    
    <p>Como você chegou aqui?? Hum...</p>

    <br><br>
    <a href='/'><button onclick="goBack()">Voltar ao Site</button></a>
    <br>
</div>