<% provide(:title, "Entrar na fila") %>

<h1>Entrar na fila</h1>
<div class="row">
  <div style="margin:auto;width:50%">
    <%= form_for(@user) do |f| %>
      <%= f.label :nusp %>
      <%= f.number_field :nusp %>

      <%= f.submit "Entrar na fila", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<script>
</script>