<% provide(:title, "Restaurantes") %>

<div class="w3-row-padding w3-padding-16 w3-center" >
    <h1>Lista dos restaurantes</h1>
    <table class="center" style="text-align:left">
        <thead>
            <tr>
              <th>Nome</th>
              <th style="text-align:center">Cardápio</th>
              <th style="text-align:center">Website</th>
            </tr>
        </thead>
          
        <% @restaurant.each do |r| %>
            <tr>
                <td><%= r.name %></td>
                <td style="padding:0px 20px"><%= link_to r.menu, r.menu %></td>
                <td><%= link_to r.website, r.website %></td>
            </tr>
        <% end %>
    </table>
    
    <br>
    <hr>
    <p>Mais informações:</p>
    <a href="http://sites.usp.br/sas/todos-os-restaurantes-2/">Saite dos restaurantes</a>
    <br>
</div>
