<h1>Lista dos restaurantes</h1>
<table>
    <thead>
        <tr>
          <th>Nome</th>
          <th>Website</th>
          <th colspan="3">Cardápio</th>
        </tr>
    </thead>
      
    <% @restaurant.each do |r| %>
        <tr>
            <td><%= r.name %></td>
            <td><%= link_to r.website, r.website %></td>
            <td><%= link_to 'Link', r %></td>
        </tr>
    <% end %>

</table>