<!DOCTYPE html>
<html>
<title>Título</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= stylesheet_link_tag "w3" %>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:25px}
</style>
<body>
<a href="http://sites.usp.br/sas/todos-os-restaurantes-2/">Saite dos restaurantes</a>
<br>
</body>
<script>
</script>
</html>


<%= @restaurant.name %>