<% provide(:title, "Entrar na fila") %>
<%= stylesheet_link_tag "restaurants" %>

<h1 title="aparece ao passar o mouse">Restaurants#new</h1>
<p>find me in app/views/restaurants/new.html.erb</p>
<a title="link" href="https://www.w3schools.com">This is a link</a>
<hr></hr>
<img src="/central.jpg" title="fotenho" alt="texto de emergência" width="104" height="142">