<div class="w3-row-padding w3-padding-64 w3-center">
  <h3 style='width:45%;min-width:300px;margin:0 auto'>  Seu número USP será utilizado como identificador. Alternativamente, você pode usar qualquer combinação única de 6 a 8 dígitos </h3>
  <br>

  <a href='/'><button onclick="goBack()">Voltar ao Site</button></a>
  <br>
  
  <hr>
  <p>Mais informações:</p>
  <a href="http://sites.usp.br/sas/todos-os-restaurantes-2/">Saite dos restaurantes</a>
</div>